
{% extends 'base.html' %}


{% block content %}

    </br>
        <h2 class="ui center dividing header">
            <div class="content">
                Trending
                <img src="../../static/trend.png" height=35 weidth=35>
            </div>
        </h2>
    </br>

    <div class="ui center aligned grid">        
        
            <div class="ui link cards center">
            {% for product in products %}
                {% comment %} <a href="{{ product.get_absolute_url }}"> {% endcomment %}
                    <div class="card">
                        <a class="image" href="../product/{{ product.id }}/">
                            <img src="../../media/{{ product.display_image }}">
                        </a>
                        <div class="content">
                            <a class="ui black label">{{ product.condition.name }}</a>
                            <div class="header black">
                                <a href="../product/{{ product.id }}/">
                                    {{ product.title }} 
                                </a>
                            </div>
                            <div class="meta">
                                <a>{{ product.author }} </a>
                            </div>
                            <div class="description">
                                 <br>
                                {% if product.discount_price %}
                                    Rs <strike> {{ product.price }}</strike>
                                    {{ product.discount_price }}
                                {% else %}
                                    Rs {{ product.price }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="right floated">
                                {{ product.category.name }}
                            </span>
                            <span>
                                <i class="user icon"></i>
                                {{ product.user }}
                            </span>
                        </div>
                    </div>
                {% comment %} </a> {% endcomment %}
            {% endfor %}
            </div>
        </div>

    </br>
    </br>
    <div class="d-flex justify-content-center">
        {% if products.has_other_pages %}
        <ul class="pagination">
            {% if products.has_previous %}
            <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if products.has_next %}
            <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>


{% endblock content %}


